{% extends 'base.html.twig' %}

{% block title %}Modifier le film{% endblock %}

{% block content %}
    <h2 class="mb-4">Modifier un film</h2>

    <form action="/film/update" method="post">
    <input type="hidden" name="id" value="{{ film.id }}">
        <div class="form-group">
            <label for="title">Titre</label>
            <input type="text" id="title" name="title" class="form-control" value="{{ film.title }}" required>
        </div>

        <div class="form-group">
            <label for="year">Année</label>
            <input type="number" id="year" name="year" class="form-control" value="{{ film.year }}" required>
        </div>

        <div class="form-group">
            <label for="type">Type</label>
            <input type="text" id="type" name="type" class="form-control" value="{{ film.type }}" required>
        </div>

        <div class="form-group">
            <label for="synopsis">Synopsis</label>
            <textarea id="synopsis" name="synopsis" class="form-control" rows="4">{{ film.synopsis }}</textarea>
        </div>

        <div class="form-group">
            <label for="director">Réalisateur</label>
            <input type="text" id="director" name="director" class="form-control" value="{{ film.director }}" required>
        </div>

        <button type="submit" class="btn btn-primary">Enregistrer les modifications</button>
    </form>
{% endblock %}
