<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>

    <h1 class="p-3 text-primary-emphasis bg-primary-subtle border border-primary-subtle rounded-3">Liste des films</h1>
    {% if films is not empty %}
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Titre</th>
                    <th>Année</th>
                    <th>Type</th>
                    <th>Synopsis</th>
                    <th>Réalisateur</th>
                    <th>Créé le</th>
                </tr>
            </thead>
            <tbody>
                {% for film in films %}
                    {% if film.deleted_at is null %}
                        <tr>
                            <td>{{ film.id }}</td>
                            <td>{{ film.title }}</td>
                            <td>{{ film.year is not null ? film.year : 'N/A' }}</td>
                            <td>{{ film.type }}</td>
                            <td>{{ film.synopsis is not null ? film.synopsis|slice(0, 50) ~ '...' : 'N/A' }}</td>
                            <td>{{ film.director is not null ? film.director : 'Inconnu' }}</td>
                            <td>{{ film.created_at|date('d/m/Y H:i') }}</td>
                        </tr>
                    {% endif %}
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>Aucun film à afficher.</p>
    {% endif %}
